# Statistical Analysis: Significance Tests

In [25]:
#Importing the tips dataset from seaborn library
import seaborn as sns
data=sns.load_dataset('tips')
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [21]:
#Performing Significance tests
from statistical_analysis import Statistical_analysis

## Performing Chi-Square Test

In [10]:
#performing chi square test to understand relation between two categirical features
#chi square test between two categorical features
Statistical_analysis.Significance_tests(data).chi_square_test('sex','smoker')

Chi square test between features:  sex  and  smoker
chi-square statistic:- 0.001934818536627623
critical_value: 3.841458820694124
Significance level:  0.05
Degree of Freedom:  1
p-value: 0.964915107315732
p_value > 0.05
Test Results : Retain H0,There is no relationship between 2 categorical variables

In [9]:
#Chi square tests between all categorical features
for col in ['sex','smoker','day','time']:
    Statistical_analysis.Significance_tests(data).chi_square_test('sex',col)

Chi square test between features:  sex  and  sex
chi-square statistic:- 244.0
critical_value: 3.841458820694124
Significance level:  0.05
Degree of Freedom:  1
p-value: 0.0
p_value < 0.05
Test Results  Reject H0,There is a relationship between 2 categorical variables


Chi square test between features:  sex  and  smoker
chi-square statistic:- 0.001934818536627623
critical_value: 3.841458820694124
Significance level:  0.05
Degree of Freedom:  1
p-value: 0.964915107315732
p_value > 0.05
Test Results : Retain H0,There is no relationship between 2 categorical variables


Chi square test between features:  sex  and  day
chi-square statistic:- 8.01732385134847
critical_value: 7.814727903251179
Significance level:  0.05
Degree of Freedom:  3
p-value: 0.04565502741933891
p_value < 0.05
Test Results  Reject H0,There is a relationship between 2 categorical variables


Chi square test between features:  sex  and  time
chi-square statistic:- 10.277251918677742
critical_value: 3.841458820694124
Significance level:  0.05
Degree of Freedom:  1
p-value: 0.0013468039268008658
p_value < 0.05
Test Results  Reject H0,There is a relationship between 2 categorical variables

## Performing one way ANOVA test

In [13]:
#performing ANOVA test to understand significance betwwen numerical and categorical feature

#performing one way ANOVA

Statistical_analysis.Significance_tests(data).one_way_anova('total_bill~sex')

One way ANOVO test results:
ANOVA table:
                sum_sq     df         F    PR(>F)
sex         404.224430    1.0  5.188346  0.023612
Residual  18854.239653  242.0       NaN       NaN
alpha: 0.05
p_value: 0.023611666846859624
Result:
p_value < 0.05
null hypothesis is true :
all the sample means are equal or the factor did not have any significant effect on the results, reject the alternate hypothesis

## Performing two way ANOVA test

In [17]:
#performing two way ANOVA test of significance for multiple features
for col in ['sex','smoker','day','time']:
    Statistical_analysis.Significance_tests(data).two_way_anova('tip~sex+smoker+day+time',col)

Two way ANOVO test results:
ANOVA table:
              sum_sq     df         F    PR(>F)
sex         1.533207    1.0  0.803168  0.371057
smoker      0.365141    1.0  0.191278  0.662253
day         3.926567    3.0  0.685642  0.561610
time        1.366530    1.0  0.715855  0.398360
Residual  452.420627  237.0       NaN       NaN

Test Results for feature: sex
alpha: 0.05
p_value for feature: sex: 0.37105713448899835
p_value > 0.05
alternate hypothesis is true :
least one of the sample means is different from another,reject the null hypothesis and conclude that not all of population means are equal



Two way ANOVO test results:
ANOVA table:
              sum_sq     df         F    PR(>F)
sex         1.533207    1.0  0.803168  0.371057
smoker      0.365141    1.0  0.191278  0.662253
day         3.926567    3.0  0.685642  0.561610
time        1.366530    1.0  0.715855  0.398360
Residual  452.420627  237.0       NaN       NaN

Test Results for feature: smoker
alpha: 0.05
p_value for feature: smoker: 0.66225297892113
p_value > 0.05
alternate hypothesis is true :
least one of the sample means is different from another,reject the null hypothesis and conclude that not all of population means are equal



Two way ANOVO test results:
ANOVA table:
              sum_sq     df         F    PR(>F)
sex         1.533207    1.0  0.803168  0.371057
smoker      0.365141    1.0  0.191278  0.662253
day         3.926567    3.0  0.685642  0.561610
time        1.366530    1.0  0.715855  0.398360
Residual  452.420627  237.0       NaN       NaN

Test Results for feature: day
alpha: 0.05
p_value for feature: day: 0.5616100608367371
p_value > 0.05
alternate hypothesis is true :
least one of the sample means is different from another,reject the null hypothesis and conclude that not all of population means are equal



Two way ANOVO test results:
ANOVA table:
              sum_sq     df         F    PR(>F)
sex         1.533207    1.0  0.803168  0.371057
smoker      0.365141    1.0  0.191278  0.662253
day         3.926567    3.0  0.685642  0.561610
time        1.366530    1.0  0.715855  0.398360
Residual  452.420627  237.0       NaN       NaN

Test Results for feature: time
alpha: 0.05
p_value for feature: time: 0.39836026281365544
p_value > 0.05
alternate hypothesis is true :
least one of the sample means is different from another,reject the null hypothesis and conclude that not all of population means are equal